<fieldset [formGroup]="attachedToFormGroup">
  <legend>Condition</legend>
  <mat-radio-group [formControl]="conditionControl" name="condition">
    <mat-radio-button *ngFor="let condition of conditions" [value]="condition.type">
      {{condition.type}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-checkbox #isDefective [formControl]="hasDefectControl" [value]="hasDefectControl.value">with defect</mat-checkbox>
  <span *ngIf="isDefective.checked">
    <app-autocomplete [attachedToFormGroup]="attachedToFormGroup"></app-autocomplete>
  </span>
</fieldset>
