<div>
  <h3>
    FormGroups Example - Showing multiple form components
  </h3>
</div>

<fieldset>
  <legend>Individual controls</legend>
  <app-ad-title class="fieldsetItem" [attachedToFormGroup]="adTitleFormGroup"></app-ad-title>
  <app-ad-description class="fieldsetItem" [attachedToFormGroup]="adDescriptionFormGroup"></app-ad-description>
  <app-for-sale-by class="fieldsetItem" [attachedToFormGroup]="adForSaleFormGroup"></app-for-sale-by>
  <app-for-sale-selling-for class="fieldsetItem" [attachedToFormGroup]="adForSaleFormGroup"></app-for-sale-selling-for>
  <app-for-sale-conditions class="fieldsetItem" [attachedToFormGroup]="adForSaleConditionGroup"></app-for-sale-conditions>
</fieldset>

<fieldset>
  <legend>Form Info</legend>
  <!--div><--left for separate testing case->
    adTitleFormGroup: {{adTitleFormGroup.value | json}}
    <br />
    adForSaleFromGroup: {{adForSaleFormGroup.value | json}}
    <br />
    {{adForSaleFormGroup.controls.byWho.valid}}
    <br />
    {{adForSaleConditionGroup.value | json}}
  </div-->
  <h5>All formGroups combined values:</h5>
  <p></p>
  <section *ngFor="let obj of allGroup.controls">
    {{obj.value | json}}
  </section>
</fieldset>

